.container-presentation{
    background-image: url('../assets/images/background-image.jpg');
    background-size: 'cover';
    height: 100%;
    background-position: 'center';
    background-repeat: 'no-repeat';
    max-width: 100%;
}